.anketa {
  margin: 30px auto;
  background-color: rgb(37, 37, 37);
  width: 90vw;
  height: 80vh;
  text-align: center;
}
.A {
  margin: 0px auto;

  width: 80vw;
  height: 70vh;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.PiO {
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px 10px;
  width: 350px;
  height: 200px;
  background-color: rgba(157, 157, 161, 0.308);
  font-size: 20px;
}
.anketa button {
  width: 150px;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 18px;
  background-color: grey;
}
.anketa button:hover {
  border: 1px solid gold;
  background-color: rgba(0, 0, 0, 0.322);
  color: white;
  cursor: pointer;
}
