.karticaAnkete {
  /* background-color: rgb(61, 59, 59); */
  padding: 0px;
  margin: 0px;
}
.karticaAnkete h1 {
  padding: 8px;
  margin: 0px;
  color: rgb(141, 140, 140);
  border-bottom: 1px solid greenyellow;
  width: 150px;
}
.karticaAnkete:hover {
  cursor: pointer;
  border-bottom: 3px solid greenyellow;
}
